jupyter-book==0.13.0
lxml_html_clean
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2 
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib.serializinghtml==1.1.4
plotly
seaborn
markdown
datalad
matplotlib
nibabel
notebook
numpy
pandas
scipy
statsmodels
repo2data
openneuro-py
ipywidgets
